<form name="submitForm" novalidate>
	<!-- Error Message -->
	<div class="container-fluid">
		<div class="alert alert-danger" role="alert" ng-if="hasMyError">
			<span>{{error}}
				<button type="button" class="close" ng-click="AppCtrl.hideMyError()">
					<span aria-hidden="true">&times;</span>
				</button>
				<ol>
					<li ng-repeat="errorMessage in ::myErrorMessages">{{myError}}</li>
				</ol>
			</span>
		</div>
	</div>
	<div class="modal-header">
		<button type="button" class="close"
			ng-click="AppCtrl.closeModalWindow()">&times;</button>
		<h4 class="modal-title">{{::languageConstants.get(' Create ' )}}</h4>
		<button type="submit" class="h5Button {{theme.button}}"
			ng-click="AppCtrl.addRecord()">{{::languageConstants.get('Add
			Record')}}</button>
		<button class="h5Button {{theme.button}}"
			ng-click="AppCtrl.closeModalWindow()">{{::languageConstants.get('Cancel')}}</button>
		<tr input type="text" class="h5-input-xs" class="h5-color-graphite">
			<h5>{{::languageConstants.get('ID')}}</h5>
			<input type="text" class="h5-input-xs"
				ng-model="MingleModule.MingleRecord.PK01" name="PK01"
				title="ID" style="text-align: right" readonly>
			
		</tr>
	</div>

	<div class="modal-body">

		<div class="container-fluid">
			<div class="alert alert-danger" role="alert"
				ng-if="modelobject.childmodelobject.hasError">
				<span>{{modelobject.childmodelobject.errorMessage}}</span>
				<button type="button" class="close"
					ng-click="modelobject.childmodelobject.hasError=false">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>

		<div class="panel {{theme.panel}}">
			<div class="table-responsive h5-padding-md">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<table class="inlineTable">
							<tr>
								<td>
									<table class="inlineTable">
												<tr input type="text" class="h5-input-xs"
											class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('Transaction')}}</h5></td>
											<td>:</td>
											<td><input type="TEXT" class="h5-input-xs"
												ng-model="MingleModule.MingleRecord.PK02" name="PK02"
												title="Port" style="text-align: left" autofocus></td>
										</tr>
												<tr input type="text" class="h5-input-xs"
											class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('Port')}}</h5></td>
											<td>:</td>
											<td><input type="TEXT" class="h5-input-xs"
												ng-model="MingleModule.MingleRecord.PK03" name="PK03"
												title="Port" style="text-align: left" autofocus></td>
										</tr>
		
										<tr input type="text" class="h5-input-xs"
											class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('ION Port')}}</h5></td>
											<td>:</td>
											<td><input type="TEXT" class="h5-input-xs"
												ng-model="MingleModule.MingleRecord.AL31" name="AL31"
												title="Port" style="text-align: left" autofocus></td>
										</tr>
										<tr input type="text" class="h5-input-xs"
											class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('URL')}}</h5></td>
											<td>:</td>
											<td><input type="text" class="h5-input-md"
												ng-model="MingleModule.MingleRecord.AL32" name="AL32"
												title="URL" style="text-align: left"></td>
										</tr>
										<tr input type="text" class="h5-input-xs"
											class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('Path')}}</h5></td>
											<td>:</td>
											<td><input type="text" class="h5-input-md"
												ng-model="MingleModule.MingleRecord.AL34" name="AL34"
												title="Path" style="text-align: left"></td>
										</tr>
												<tr input type="text" class="h5-input-xs"
											class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('Environment')}}</h5></td>
											<td>:</td>
											<td><input type="text" class="h5-input-md"
												ng-model="MingleModule.MingleRecord.AL35" name="AL35"
												title="Environment" style="text-align: left"></td>
										</tr>
									<tr input type="text" class="h5-input-xs" hidden
											class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('Colon')}}</h5></td>
											<td>:</td>
											<td><input type="text" class="h5-input-md"
												name="AL33"	ng-value=":" value=":"
												title="Transaction" style="text-align: left"></td>
										</tr>
										<tr input type="text" class="h5-input-sm"
											class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('Description')}}</h5></td>
											<td>:</td>
											<td><input type="TEXT" class="h5-input-md"
												ng-model="MingleModule.MingleRecord.AL30" name="AL30"
												title="Description" style="text-align: left"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>