<div class="modal-header">
	<button type="button" class="close" ng-click="AppCtrl.closeModalWindow()">&times;</button>
	<h4 class="modal-title">{{::languageConstants.get('Themes')}}</h4>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-lg-4" ng-repeat="theme in ::themes | filter: {available:true}" ng-click="AppCtrl.themeSelected(theme.themeId)">
			<figure>
				<img class="h5-theme-image img-responsive img-thumbnail" ng-class="{'h5-theme-image-active':theme.active}" ng-src="img/themes/{{theme.themeIcon}}"
					title="{{::languageConstants.get(theme.themeName)}}" alt="">
				<span class="h5-theme-selector" ng-if="theme.active"><img class="" src="img/tick-selection.png" alt=""></span>
				<figcaption>
					<p class="h5-text-break-word font-12">{{::languageConstants.get(theme.themeName)}}</p>
				</figcaption>
			</figure>
		</div>
	</div>
</div>